@model Book_Store.ModelViews.ChangePasswordViewModel
@{
    
}
<style>

    .password-toggle-icon        {
        position: absolute;
        right: 10px;
        top: 60%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .password-input{
        position: relative;
    }
</style>
<div class="myaccount-details">
    <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input">
                <label>Mật khẩu hiện tại</label>
                <div class="password-input">
                    <input asp-for="PasswordNow" type="password" class="passnow">
                    <span class="password-toggle-icon">
                        <i class="fa fa-eye" id="passwordNow-toggle"></i>
                    </span>
                </div>
            </div>
            <div class="single-input">
                <label>Mật khẩu mới</label>
                <div class="password-input">
                    <input asp-for="Password" type="password" class="passnew">
                    <span class="password-toggle-icon">
                        <i class="fa fa-eye" id="passwordNew-toggle"></i>
                    </span>
                </div>
            </div>
            <div class="single-input">
                <label>Nhập lại mật khẩu mới</label>
                <div class="password-input">
                    <input asp-for="ConfirmPassword" type="password" class="confirmpass">
                    <span class="password-toggle-icon">
                        <i class="fa fa-eye" id="passwordConfirm-toggle"></i>
                    </span>
                </div>
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>
    </form>
</div>
@section Scripts{

   
    <script>
        $(document).ready(function () {
            $('#passwordNow-toggle').click(function () {
                var passwordInput = $('.passnow');
                var passwordToggle = $('#passwordNow-toggle');

                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    passwordToggle.removeClass('fa-eye');
                    passwordToggle.addClass('fa-eye-slash');
                } else {
                    passwordInput.attr('type', 'password');
                    passwordToggle.removeClass('fa-eye-slash');
                    passwordToggle.addClass('fa-eye');
                }
            });

            $('#passwordNew-toggle').click(function () {
                var confirmPasswordInput = $('.passnew');
                var confirmPasswordToggle = $('#passwordNew-toggle');

                if (confirmPasswordInput.attr('type') === 'password') {
                    confirmPasswordInput.attr('type', 'text');
                    confirmPasswordToggle.removeClass('fa-eye');
                    confirmPasswordToggle.addClass('fa-eye-slash');
                } else {
                    confirmPasswordInput.attr('type', 'password');
                    confirmPasswordToggle.removeClass('fa-eye-slash');
                    confirmPasswordToggle.addClass('fa-eye');
                }
            });

            $('#passwordConfirm-toggle').click(function () {
                var confirmPasswordInput = $('.confirmpass');
                var confirmPasswordToggle = $('#passwordConfirm-toggle');

                if (confirmPasswordInput.attr('type') === 'password') {
                    confirmPasswordInput.attr('type', 'text');
                    confirmPasswordToggle.removeClass('fa-eye');
                    confirmPasswordToggle.addClass('fa-eye-slash');
                } else {
                    confirmPasswordInput.attr('type', 'password');
                    confirmPasswordToggle.removeClass('fa-eye-slash');
                    confirmPasswordToggle.addClass('fa-eye');
                }
            });
        });
    </script>

}