@model Book_Store.ModelViews.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .password-toggle-icon {
        position: absolute;
        right: 10px;
        top: 35%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="DangkyTaiKhoan">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Đăng ký tài khoản</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ và Tên</label>
                                    <input type="text" asp-for="FullName" placeholder="Họ và Tên">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Địa chỉ Email</label>
                                    <input type="email" id="emailInput" asp-for="Email" placeholder="Địa chỉ Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Số điện thoại</label>
                                    <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <div style="position:relative" class="password-input-container">
                                        <input type="password" asp-for="Password" placeholder="Mật khẩu" class="password-input">
                                        <span class="password-toggle-icon">
                                            <i class="fa fa-eye" id="password-toggle"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div  class="col-md-6">
                                    <label>Nhập lại mật khẩu</label>
                                    <div style="position:relative" class="password-input-container">
                                        <input type="password" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="confirm-password-input">
                                        <span class="password-toggle-icon">
                                            <i class="fa fa-eye" id="confirm-password-toggle"></i>
                                        </span>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button id="btnSubmit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng ký</button>
                                </div>
                                <div style="margin-top:10px">
                                    Bạn đã có tài khoản? Đăng nhập <a style="margin-top:5px; border-bottom: 1px solid black" href="/dang-nhap.html">tại đây!</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>

            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#password-toggle').click(function () {
                var passwordInput = $('.password-input');
                var passwordToggle = $('#password-toggle');

                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    passwordToggle.removeClass('fa-eye');
                    passwordToggle.addClass('fa-eye-slash');
                } else {
                    passwordInput.attr('type', 'password');
                    passwordToggle.removeClass('fa-eye-slash');
                    passwordToggle.addClass('fa-eye');
                }
            });

            $('#confirm-password-toggle').click(function () {
                var confirmPasswordInput = $('.confirm-password-input');
                var confirmPasswordToggle = $('#confirm-password-toggle');

                if (confirmPasswordInput.attr('type') === 'password') {
                    confirmPasswordInput.attr('type', 'text');
                    confirmPasswordToggle.removeClass('fa-eye');
                    confirmPasswordToggle.addClass('fa-eye-slash');
                } else {
                    confirmPasswordInput.attr('type', 'password');
                    confirmPasswordToggle.removeClass('fa-eye-slash');
                    confirmPasswordToggle.addClass('fa-eye');
                }
            });

            // Lắng nghe sự kiện khi người dùng nhấn nút đăng ký
            $('form').on('submit', function (event) {
                event.preventDefault(); // Ngăn chặn form gửi yêu cầu đi

                var fullName = $('input[name="FullName"]').val();
                var email = $('input[name="Email"]').val();
                var phone = $('input[name="Phone"]').val();
                var password = $('input[name="Password"]').val();
                var confirmPassword = $('input[name="ConfirmPassword"]').val();
                var isValid = true;

                // Kiểm tra họ và tên
                if (fullName == '') {
                    $('span[data-valmsg-for="FullName"]').text('Vui lòng nhập họ và tên.');
                    isValid = false;
                } else {
                    $('span[data-valmsg-for="FullName"]').text('');
                }

                // Kiểm tra địa chỉ email
                if (email == '') {
                    $('span[data-valmsg-for="Email"]').text('Vui lòng nhập địa chỉ email.');
                    isValid = false;
                } else {
                    $('span[data-valmsg-for="Email"]').text('');
                }

                // Kiểm tra số điện thoại
                if (phone == '') {
                    $('span[data-valmsg-for="Phone"]').text('Vui lòng nhập số điện thoại.');
                    isValid = false;
                } else {
                    $('span[data-valmsg-for="Phone"]').text('');
                }

                // Kiểm tra mật khẩu
                if (password == '') {
                    $('span[data-valmsg-for="Password"]').text('Vui lòng nhập mật khẩu.');
                    isValid = false;
                } else if (password.length < 6) {
                    $('span[data-valmsg-for="Password"]').text('Mật khẩu phải có ít nhất 6 ký tự.');
                    isValid = false;
                } else {
                    $('span[data-valmsg-for="Password"]').text('');
                }

                // Kiểm tra xác nhận mật khẩu
                if (confirmPassword == '') {
                    $('span[data-valmsg-for="ConfirmPassword"]').text('Vui lòng nhập lại mật khẩu.');
                    isValid = false;
                } else if (confirmPassword !== password) {
                    $('span[data-valmsg-for="ConfirmPassword"]').text('Mật khẩu xác nhận không khớp.');
                    isValid = false;
                } else {
                    $('span[data-valmsg-for="ConfirmPassword"]').text('');
                }

                if (isValid) {
                    // Gửi yêu cầu kiểm tra email đến máy chủ
                    $.ajax({
                        url: '/Accounts/ValidateEmail',
                        type: 'POST',
                        data: { Email: email },
                        success: function (response) {
                            if (response === true) {
                                // Email hợp lệ, tiếp tục xử lý đăng ký
                                $('form').submit(); // Submit form
                            } else {
                                // Hiển thị thông báo lỗi
                                $('span[data-valmsg-for="Email"]').text('Email này đã được sử dụng.');
                            }
                        },
                        error: function () {
                            // Xử lý lỗi
                            $('span[data-valmsg-for="Email"]').text('Lỗi hệ thống.');
                        }
                    });
                }
            });
        })
    </script>


}

